#template-list-table tbody tr td {
  height: 3em;
  vertical-align: middle;
}

#template-list-table tbody tr td.text-end button {
  margin-left: .2em;
}

/* Ensure second modal is above the first */
.modal.modal-second {
  z-index: 1056; /* Default Bootstrap modal z-index is 1055 */
}

#secondary-modal-backdrop {
  z-index: 1055; /* Ensure backdrop is below the second modal */
}

#url-test-form,
#param-test-form {
  min-height: 16em;
}
